* {
  margin: 0;
  box-sizing: border-box;
  font-family: Prompt,sans-serif;
}

body {
  background-color: #5F0F40;
}

#root {
  padding: 40px 15% 40px 15%;
}

#header {
  background-color: #FB8B24;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;  text-align: center;
  margin-bottom: 50px;
  padding: 20px;

  #title {
    margin-bottom: 20px;
  }

  #counter {
    margin-right: 20px;
  }
  #highscore {
    margin-left: 20px;
  }
}

#allPokemon {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .pokeCard {
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-color: #FB8B24;
    text-align: center;
    margin: 10px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #E36414;
      cursor: pointer;
    }
  }
}